Repository Cornjebus/ai-agents-for-law-enforcement-data--tr8xn9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @ai-team, @data-science-team, @frontend-team, @devops-team, @analytics-team, @integration-team, @qa-team, @docs-team

.github/CODEOWNERS:

* @project-leads @security-team

# Backend services ownership
src/backend/* @backend-team @security-team

# AI services and models ownership
src/backend/ai/* @ai-team @backend-team @security-team
src/backend/ai/models/* @ai-team @data-science-team

# Frontend application ownership
src/web/* @frontend-team @security-team

# Infrastructure and deployment ownership
infrastructure/* @devops-team @security-team

# CI/CD workflow configurations
.github/workflows/* @devops-team @security-team

# Security implementations
src/backend/security/* @security-team @backend-team

# Analytics services ownership
src/backend/services/analytics/* @analytics-team @data-science-team @backend-team

# Voice processing services
src/backend/services/voice/* @ai-team @backend-team @security-team

# External integrations
src/backend/integration/* @integration-team @backend-team @security-team

# Test suites ownership
src/backend/tests/* @qa-team @backend-team
src/web/tests/* @qa-team @frontend-team

# Documentation ownership
*.md @docs-team

# Configuration files
config/* @devops-team @security-team

# Database migrations
src/backend/db/migrations/* @backend-team @data-science-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/environments/development/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/environments/development/terraform.tfvars
  infrastructure/terraform/environments/development/terraform.tfvars
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/environments/production/terraform.tfvars
  infrastructure/terraform/environments/production/terraform.tfvars
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/api-gateway/main.tf
  infrastructure/terraform/modules/api-gateway/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/api-gateway/outputs.tf
  infrastructure/terraform/modules/api-gateway/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/api-gateway/variables.tf
  infrastructure/terraform/modules/api-gateway/variables.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/container/main.tf
  infrastructure/terraform/modules/container/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/container/outputs.tf
  infrastructure/terraform/modules/container/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/container/variables.tf
  infrastructure/terraform/modules/container/variables.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/README.md
  src/backend/README.md
Owners: @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/package.json
  src/backend/package.json
Owners: @backend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/ai/models/llm.ts
  src/backend/ai/models/llm.ts
Owners: @ai-team, @data-science-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/ai/models/voice.ts
  src/backend/ai/models/voice.ts
Owners: @ai-team, @data-science-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/ai/services/anthropic.service.ts
  src/backend/ai/services/anthropic.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/ai/services/openai.service.ts
  src/backend/ai/services/openai.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/ai/services/polly.service.ts
  src/backend/ai/services/polly.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/ai/services/whisper.service.ts
  src/backend/ai/services/whisper.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/gateway/index.ts
  src/backend/api/gateway/index.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/gateway/config/kong.ts
  src/backend/api/gateway/config/kong.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/gateway/middleware/auth.ts
  src/backend/api/gateway/middleware/auth.ts
Owners: @project-leads, @security-team
