Repository Cornjebus/ai-agents-for-law-enforcement-data--tr8xn9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @ai-team, @data-science-team, @frontend-team, @devops-team, @analytics-team, @integration-team, @qa-team, @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/.github/workflows/infrastructure-ci.yml
  .github/workflows/infrastructure-ci.yml
Owners: @devops-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/docker/api.Dockerfile
  infrastructure/docker/api.Dockerfile
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/docker/web.Dockerfile
  infrastructure/docker/web.Dockerfile
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/docker/worker.Dockerfile
  infrastructure/docker/worker.Dockerfile
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/kubernetes/base/api-deployment.yaml
  infrastructure/kubernetes/base/api-deployment.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/kubernetes/base/api-service.yaml
  infrastructure/kubernetes/base/api-service.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/kubernetes/base/web-deployment.yaml
  infrastructure/kubernetes/base/web-deployment.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/kubernetes/base/web-service.yaml
  infrastructure/kubernetes/base/web-service.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/kubernetes/base/worker-deployment.yaml
  infrastructure/kubernetes/base/worker-deployment.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/kubernetes/overlays/development/kustomization.yaml
  infrastructure/kubernetes/overlays/development/kustomization.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/kubernetes/overlays/staging/kustomization.yaml
  infrastructure/kubernetes/overlays/staging/kustomization.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/scripts/monitoring.sh
  infrastructure/scripts/monitoring.sh
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/scripts/setup.sh
  infrastructure/scripts/setup.sh
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/ecr.tf
  infrastructure/terraform/aws/ecr.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/ecs.tf
  infrastructure/terraform/aws/ecs.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/iam.tf
  infrastructure/terraform/aws/iam.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/infrastructure/terraform/aws/waf.tf
  infrastructure/terraform/aws/waf.tf
Owners: @project-leads, @security-team

.github/CODEOWNERS:

* @project-leads @security-team

# Backend services ownership
src/backend/* @backend-team @security-team

# AI services and models ownership
src/backend/ai/* @ai-team @backend-team @security-team
src/backend/ai/models/* @ai-team @data-science-team

# Frontend application ownership
src/web/* @frontend-team @security-team

# Infrastructure and deployment ownership
infrastructure/* @devops-team @security-team

# CI/CD workflow configurations
.github/workflows/* @devops-team @security-team

# Security implementations
src/backend/security/* @security-team @backend-team

# Analytics services ownership
src/backend/services/analytics/* @analytics-team @data-science-team @backend-team

# Voice processing services
src/backend/services/voice/* @ai-team @backend-team @security-team

# External integrations
src/backend/integration/* @integration-team @backend-team @security-team

# Test suites ownership
src/backend/tests/* @qa-team @backend-team
src/web/tests/* @qa-team @frontend-team

# Documentation ownership
*.md @docs-team

# Configuration files
config/* @devops-team @security-team

# Database migrations
src/backend/db/migrations/* @backend-team @data-science-team
