Repository Cornjebus/ai-agents-for-law-enforcement-data--tr8xn9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @ai-team, @data-science-team, @frontend-team, @devops-team, @analytics-team, @integration-team, @qa-team, @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/analytics/controllers/metrics.controller.ts
  src/backend/services/analytics/controllers/metrics.controller.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/analytics/models/metric.model.ts
  src/backend/services/analytics/models/metric.model.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/analytics/services/prediction.service.ts
  src/backend/services/analytics/services/prediction.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/analytics/services/reporting.service.ts
  src/backend/services/analytics/services/reporting.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/auth/index.ts
  src/backend/services/auth/index.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/auth/controllers/auth.controller.ts
  src/backend/services/auth/controllers/auth.controller.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/auth/models/user.model.ts
  src/backend/services/auth/models/user.model.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/auth/services/jwt.service.ts
  src/backend/services/auth/services/jwt.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/auth/services/oauth.service.ts
  src/backend/services/auth/services/oauth.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/campaign/index.ts
  src/backend/services/campaign/index.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/campaign/controllers/campaign.controller.ts
  src/backend/services/campaign/controllers/campaign.controller.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/campaign/models/campaign.model.ts
  src/backend/services/campaign/models/campaign.model.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/campaign/services/optimization.service.ts
  src/backend/services/campaign/services/optimization.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/campaign/services/targeting.service.ts
  src/backend/services/campaign/services/targeting.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/content/index.ts
  src/backend/services/content/index.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/content/controllers/content.controller.ts
  src/backend/services/content/controllers/content.controller.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/content/models/content.model.ts
  src/backend/services/content/models/content.model.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/content/services/distribution.service.ts
  src/backend/services/content/services/distribution.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/content/services/generation.service.ts
  src/backend/services/content/services/generation.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/voice/index.ts
  src/backend/services/voice/index.ts
Owners: @ai-team, @backend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/voice/controllers/call.controller.ts
  src/backend/services/voice/controllers/call.controller.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/voice/models/call.model.ts
  src/backend/services/voice/models/call.model.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/voice/services/recognition.service.ts
  src/backend/services/voice/services/recognition.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/voice/services/synthesis.service.ts
  src/backend/services/voice/services/synthesis.service.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/tests/e2e/campaign.test.ts
  src/backend/tests/e2e/campaign.test.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/tests/e2e/voice.test.ts
  src/backend/tests/e2e/voice.test.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/tests/integration/api.test.ts
  src/backend/tests/integration/api.test.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/tests/unit/campaign.test.ts
  src/backend/tests/unit/campaign.test.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/tests/unit/content.test.ts
  src/backend/tests/unit/content.test.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/tests/unit/voice.test.ts
  src/backend/tests/unit/voice.test.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/web/README.md
  src/web/README.md
Owners: @docs-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @frontend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/web/next.config.ts
  src/web/next.config.ts
Owners: @frontend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @frontend-team, @security-team

.github/CODEOWNERS:

* @project-leads @security-team

# Backend services ownership
src/backend/* @backend-team @security-team

# AI services and models ownership
src/backend/ai/* @ai-team @backend-team @security-team
src/backend/ai/models/* @ai-team @data-science-team

# Frontend application ownership
src/web/* @frontend-team @security-team

# Infrastructure and deployment ownership
infrastructure/* @devops-team @security-team

# CI/CD workflow configurations
.github/workflows/* @devops-team @security-team

# Security implementations
src/backend/security/* @security-team @backend-team

# Analytics services ownership
src/backend/services/analytics/* @analytics-team @data-science-team @backend-team

# Voice processing services
src/backend/services/voice/* @ai-team @backend-team @security-team

# External integrations
src/backend/integration/* @integration-team @backend-team @security-team

# Test suites ownership
src/backend/tests/* @qa-team @backend-team
src/web/tests/* @qa-team @frontend-team

# Documentation ownership
*.md @docs-team

# Configuration files
config/* @devops-team @security-team

# Database migrations
src/backend/db/migrations/* @backend-team @data-science-team
