Repository Cornjebus/ai-agents-for-law-enforcement-data--tr8xn9, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @ai-team, @data-science-team, @frontend-team, @devops-team, @analytics-team, @integration-team, @qa-team, @docs-team

.github/CODEOWNERS:

* @project-leads @security-team

# Backend services ownership
src/backend/* @backend-team @security-team

# AI services and models ownership
src/backend/ai/* @ai-team @backend-team @security-team
src/backend/ai/models/* @ai-team @data-science-team

# Frontend application ownership
src/web/* @frontend-team @security-team

# Infrastructure and deployment ownership
infrastructure/* @devops-team @security-team

# CI/CD workflow configurations
.github/workflows/* @devops-team @security-team

# Security implementations
src/backend/security/* @security-team @backend-team

# Analytics services ownership
src/backend/services/analytics/* @analytics-team @data-science-team @backend-team

# Voice processing services
src/backend/services/voice/* @ai-team @backend-team @security-team

# External integrations
src/backend/integration/* @integration-team @backend-team @security-team

# Test suites ownership
src/backend/tests/* @qa-team @backend-team
src/web/tests/* @qa-team @frontend-team

# Documentation ownership
*.md @docs-team

# Configuration files
config/* @devops-team @security-team

# Database migrations
src/backend/db/migrations/* @backend-team @data-science-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/gateway/middleware/rateLimit.ts
  src/backend/api/gateway/middleware/rateLimit.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/gateway/middleware/validation.ts
  src/backend/api/gateway/middleware/validation.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/gateway/routes/index.ts
  src/backend/api/gateway/routes/index.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/openapi/schemas/campaign.yaml
  src/backend/api/openapi/schemas/campaign.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/openapi/schemas/content.yaml
  src/backend/api/openapi/schemas/content.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/openapi/schemas/lead.yaml
  src/backend/api/openapi/schemas/lead.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/api/openapi/schemas/voice.yaml
  src/backend/api/openapi/schemas/voice.yaml
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/config/cache.ts
  src/backend/common/config/cache.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/config/database.ts
  src/backend/common/config/database.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/config/queue.ts
  src/backend/common/config/queue.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/interfaces/campaign.interface.ts
  src/backend/common/interfaces/campaign.interface.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/interfaces/content.interface.ts
  src/backend/common/interfaces/content.interface.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/interfaces/lead.interface.ts
  src/backend/common/interfaces/lead.interface.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/interfaces/metric.interface.ts
  src/backend/common/interfaces/metric.interface.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/middleware/error.ts
  src/backend/common/middleware/error.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/middleware/logging.ts
  src/backend/common/middleware/logging.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/utils/encryption.ts
  src/backend/common/utils/encryption.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/common/utils/validation.ts
  src/backend/common/utils/validation.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/db/migrations/init.sql
  src/backend/db/migrations/init.sql
Owners: @backend-team, @data-science-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/db/schemas/campaign.sql
  src/backend/db/schemas/campaign.sql
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/db/schemas/content.sql
  src/backend/db/schemas/content.sql
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/db/schemas/lead.sql
  src/backend/db/schemas/lead.sql
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/db/schemas/metric.sql
  src/backend/db/schemas/metric.sql
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/integration/crm/hubspot.ts
  src/backend/integration/crm/hubspot.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/integration/crm/salesforce.ts
  src/backend/integration/crm/salesforce.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/integration/payment/paypal.ts
  src/backend/integration/payment/paypal.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/integration/payment/stripe.ts
  src/backend/integration/payment/stripe.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/integration/social/linkedin.ts
  src/backend/integration/social/linkedin.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/integration/social/tiktok.ts
  src/backend/integration/social/tiktok.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/integration/social/twitter.ts
  src/backend/integration/social/twitter.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/monitoring/cloudwatch.ts
  src/backend/monitoring/cloudwatch.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/monitoring/datadog.ts
  src/backend/monitoring/datadog.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/monitoring/prometheus.ts
  src/backend/monitoring/prometheus.ts
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/scripts/backup.sh
  src/backend/scripts/backup.sh
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/scripts/setup.sh
  src/backend/scripts/setup.sh
Owners: @project-leads, @security-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/security/audit.ts
  src/backend/security/audit.ts
Owners: @security-team, @backend-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/security/encryption.ts
  src/backend/security/encryption.ts
Owners: @security-team, @backend-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/security/waf.ts
  src/backend/security/waf.ts
Owners: @security-team, @backend-team

Add public-samples/ai-agents-for-law-enforcement-data--tr8xn9/src/backend/services/analytics/index.ts
  src/backend/services/analytics/index.ts
Owners: @analytics-team, @data-science-team, @backend-team
